:root {
    --orange: hsl(39, 100%, 50%);
    --grey: rgb(51, 51, 51); 
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: sans-serif;
}

.container {
    background-color: var(--grey);
    height: 40rem;
    width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.operator {
    color: black;
    position: absolute;
    font-size: 2.5rem;
    top: 1.2rem;
    z-index: 100;
}

.input-container {
    width: 25rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input1 {
    width: 90%;
    height: 4rem;
    border: none;
    color: rgb(4, 2, 2);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}
.input2 {
    width: 90%;
    height: 4rem;
    border: none;
    color: rgb(4, 2, 2);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    border-radius: 1rem;
    z-index: 1;
    background-color: rgb(208, 208, 208);
    overflow: hidden;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(153, 152, 152);
}
.btn:active {
    background-color: rgb(102, 102, 102);
}

.btn.orange {
    background-color: var(--orange);
    color: white;
}
.btn.orange:hover {
    background-color: rgb(255, 198, 93);
}
.btn.orange:active {
    background-color: rgb(255, 213, 134);
}

.btn.red {
    background-color: hsl(0, 49%, 50%);
    color: white;
    grid-column: 4/5;
}
.btn.red:hover {
    background-color: hsl(0, 32%, 48%);
}
.btn.red:active {
    background-color: hsl(0, 22%, 64%);
}

